<!DOCTYPE html>
{% extends "caspotapp/base.html" %}
{% block body_block %}

  <div class="row text-center" >
    <h2>Numbers Played Today</h2>
    <h3> Date: {{ today_date }}</h3>
    <table style="width:100%">
      <tr>
    {% for numberplay in number_play %}
        <td>
            <strong class="ball b2">{{  numberplay.numberplayed }} <br>{{  numberplay.mega }}</strong>
        </td>
    {% endfor %}
      </tr>
    </table>
  </div>
<br>
  <div class="row text-center">
    <h2>Numbers Under For Kent</h2>
    <h3> Date: {{ under_date }}</h3>
    <table style="width:100%">
      <tr>
    {% for i in kent_numbers %}
     <td>
      <strong class="ball b2">{{ i.numberplayed }} <br>{{  i.mega }}</strong>
     </td>
    {% endfor %}
    </tr>
</table>
  </div>

{% endblock %}
