<!DOCTYPE html>
{% extends "caspotapp/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% block body_block %}
<style>
    .hidden{
    display:none
    }
</style>
<body class="bg-dark">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-10 mx-auto">
                <div class="card shadow">
                    <div class="card header">
                        <h5>Create Ticket</h5>
                    </div>
                    <div class="card body">
                        <form action="#" method="POST" id="add_form">
                         {% csrf_token %}
                            <div id="show_item">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <input type="number" name="number[]" class="form-control"
                                        placeholder="Number">
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <input type="text" name="amount[]" class="form-control"
                                        placeholder="Value">
                                    </div>

                                    <div class="col-md-4 mb-4 d-grid">
                                        <button class="btn btn-success add_item_btn">Add More</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Submit" class="btn btn-primary w-25" id="add_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


 <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
<script>

var $newdiv = $("<div id='object1'></div>");
    $(document).ready(function(){
    $(".add_item_btn").click(function(e){
    e.preventDefault();
    $("#show_item").prepend('New Row');
    });
});


</script>
{% endblock %}