{% extends "caspotapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% block body_block %}
<style>
	.hidden {
		display: none
	}
</style>
<div class="container text-center">
	<h3>Ticket Sale</h3>
	<br>
	<div id="clock" onload="currentTime()"></div>
	<div>
		<br>
		<form action="{% url 'makesale' %}" method="POST">
			{% csrf_token %}
			<div class="row clearfix">
				<div class="col-md-12 table-responsive">
					<table class="table table-bordered table-hover table-sortable" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">
									num_sell
								</th>
								<th class="text-center">
									value
								</th>
								<th class="text-center">
									draw_time
								</th>
								<th class="text-center"
									style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;"><a
										id="add_row" onclick="add_row()" class="btn btn-primary btn-sm">Add Row</a>
								</th>
							</tr>
						</thead>
						<tbody id="t_body">

							<tr>
								<td>
									{% render_field inputs.num_sell class="form-control" %}
								</td>
								<td>
									{% render_field inputs.value class="form-control" %}
								</td>
								<td>
									{% render_field inputs.draw_time class="form-control" %}
								</td>
								<td>
									<input type="button" value="×" onclick="DeleteRowFunction()" class="btn btn-danger">
								</td>
							</tr>
						</tbody>

					</table>
					<input type="submit" value="Submit" class="btn btn-success btn-lg w-5">
				</div>
			</div>
		</form>
		<div> {{ message }}</div>
	</div>
</div>

 <script src="{% static 'bootstrap/js/scripts.js' %}"></script>
{% endblock %}